<!DOCTYPE html>
<html>
  <head>
    <title>Bnbair</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default index-nav">
		<div class="container">
		    <div class="navbar-header">
	          	<%= link_to 'Bnbair', root_url, class: 'navbar-brand' %>
		   	</div>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Home', root_url %></li>
				<% if !user_signed_in? %>
		    		<li><a href="#" data-toggle="modal" data-target="#sign-in" id="b-sign-in">Sign in</a></li>
		    		<li><a href="#" data-toggle="modal" data-target="#sign-up">Sign up</a></li>
		 		<% else%>
					<li class="dropdown">
       					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
          				<% if current_user.is_fb == true %>
							<%= image_tag(current_user.avatar, class: 'small') %>
						<% else %>
							<%= image_tag(current_user.image.url(:thumb), class: 'small') %>
						<% end %>	
          				<span class="caret"></span></a>
        				<ul class="dropdown-menu">
				           	<li><%= link_to "Manage Account", edit_user_registration_path %></li>
             				<li><%= link_to "Manage Rooms", user_rooms_path %></li>
          					<li><%= link_to "My Bookings", booking_path %></li>
          					<li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            			</ul>
     				</li>
				<% end %>
			</ul>	       
		</div>
	</nav>

	<div class="modal fade modal-session" id="sign-in" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sign in</h4>
				</div>
				<div class="modal-body">
					<% if params[:login_error] == "1" %>
						<div class="notice">
							Unable to login. <br />
							Invalid username or password! 
						</div>
					<% end %>
					<%= render 'devise/sessions/new' %>
				</div>
<!-- 				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
				</div> -->
			</div>
		</div>
	</div>

	<div class="modal fade modal-session" id="sign-up" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sign up</h4>
				</div>
				<div class="modal-body">
					<%= render 'devise/registrations/new' %>
				</div>
<!-- 				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
				</div> -->
			</div>
		</div>
	</div>

    <%= yield %>
  <script type="text/javascript">
  <% if params[:login_error] == '1' %> 
  	$('#b-sign-in').click();
  <% end %>
  </script>
  </body>
</html>
